<!DOCTYPE html>
<html>
  <head>
    <title>Product app</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" alt="A pair of green socks">
        </div>
        <div class="product-info">
          <h1>{{product}}</h1>
          <!-- <a :href="link" target="_blank"> Learn more here</a> -->
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <span v-if="onSale" style="color:blue">On Sale!</span>
        </div>
        
      </div>
      <!-- <p>{{description}}</p>
      <h3>Got {{product + '?'}}</h1>
      <h3>{{firstName + ' ' + lastName}}</h2>
      <h3>{{clicked ? "yes" : "no"}}</h2>
      <h3>{{message.split('').reverse().join('')}}</h3> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>

<!-- Summary Notes:
-v-bind: binds an attribute to an expression 
      ex. src (attribute) is binded to the (expression) "image". aka {{image}}
-v-bind: shorthand is, : 
-other attributes v-bind: can be used on is...
      ex. :href="url"
      ex. :title="toolTip"
      ex. :class="isActive"
      ex. :style="isStyled"
      ex. :disabled="isDisabled"
-the target attribute inside an <a> tag specifies where the linked document will open when the link is clicked. The defualt is the current window. If target ="_blank", the link will open in a new tab

-There are Vue directives to conditionally render elements
  v-if
  v-else-if
  v-else
  v-show
-if whatever is inside the directive's quotes is truthy, the element will diplay
-you can use expressions inside the directive's quotes 
-v-show only toggles visibility, it does not insert or remove the element from the DOM
